{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur sed iusto magni voluptatum sint dicta labore sit provident quae eaque consequatur, amet maxime odit eius inventore possimus aperiam rerum, aut earum, ullam natus! Harum.</h2>
    <img src="{% static 'images/image01.jpg' %}" >
    <a href="{% url 'directorslogin'">my order"</a>
</body>
</html>